@model uhrenWelt.ViewModels.User.ResetPasswordViewModel

<h3 class="text-center">Choose a new password</h3>

<form asp-action="ResetPassword">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-outline col-5" style="margin:0 auto;">
        <label asp-for="@Model.Password"></label>
        <input type="password" asp-for="@Model.Password" class="form-control" />
    </div>
    <div class="text-center mb-2">
        <span class="text-danger" asp-validation-for="@Model.Password"></span>
    </div>

    <div class="form-outline col-5" style="margin:0 auto;">
        <label asp-for="@Model.ConfirmPassword"></label>
        <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" />
    </div>
    <div class="text-center mb-2">
        <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
    </div>
    <input type="hidden" asp-for="Email" class="form-control" />
    <input type="hidden" asp-for="Token" class="form-control" />
    <div class="text-center mt-4">
        <button type="submit" value="Create" class="btn btn-primary btn-block mb-4">Reset Password</button>
    </div>
</form>